@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 183, 183, 183;
  --primary-color: #f50;
  --secondary-color: #f70;
  --tertiary-color: #f90;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 90, 90, 90;
    --background-end-rgb: 70, 70, 70;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  section {
    @apply mx-auto flex min-h-screen flex-col items-center justify-start;
  }
  header {
    @apply flex flex-col items-center justify-center gap-1 pt-20;
  }
  main {
    @apply flex flex-col items-center justify-start pt-10;
  }
  article {
    @apply flex max-w-3xl flex-col gap-4 px-2 text-center text-lg;
  }
  h1 {
    @apply inline-block bg-gradient-to-b from-[var(--tertiary-color)] to-[var(--secondary-color)] bg-clip-text text-4xl text-transparent;
  }
  p {
    @apply inline-block bg-gradient-to-b from-[rgb(var(--foreground-rgb))] to-[var(--primary-color)] bg-clip-text text-transparent;
  }
}
